/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/*************************************************/

/*
CSS Selektory:

::first-letter			první písmeno
::first-line				první řádek

::before						uvnitř prvku, před obsahem
::after							uvnitř prvku, za obsahem
before a after existují ve chvíli, kdy jim nastavíme content. Stačí nastavit : ""
*/

/*p::first-letter {
	color: red;
	font-size: 40px;
	line-height:1;
	font-weight: bold;
	float:left;
	margin-right: 5px;
}*/

/*p::first-line{
	color:blueviolet;
	font-size: 160%;
	font-style: italic;
}*/

h2::before{
	content: " ";
	display: inline-block;
	width:20px;
	height: 20px;
	border-radius: 50%;
	border: 5px solid red;
	background-color: pink;
}

h2::after{
	content: "xxxxxxx";
	background-color: hotpink;
}